
<h1>User Data for <%= event.Title %></h1>
<table>
  <tr>
    <th>Description</th>
    <td><%= event.description %></td>
  </tr>
  <tr>
    <th>Start Date</th>
    <td><%= event.startDate %></td>
  </tr>
  <tr>
    <th>Is is Online?</th>
    <td><%= event.isOnline %></td>
  </tr>
  <tr>
    <th>Organizer</th>
    <td><%= event.Organizer %></td>
  </tr>
</table>


<div>
  <a href="/events">View all events</a>
</div>
<div>
  <a href="<%=`/events/${event._id}/edit`%>">Edit Event Details</a>
</div>
<div>
  <a href="<%= `/events/${event._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
</div>